:root>* {
	--md-primary-fg-color: #044777;
	--md-primary-fg-color--light: #256ea2;
	--md-primary-fg-color--dark: #0e4369;

	--md-code-hl-string-color: #ecc48d;
	--md-code-hl-keyword-color: #addb67;
	--md-code-hl-variable-color: #82aaff;
}

html {
	font-size: 15pt;
}

.md-nav__link {
	margin-top: .8em;
}

.md-grid {
	max-width: 80rem;
}

.md-typeset .admonition, .md-typeset details {
	font-size: .75rem;
}
