@using BlazorPathHelper

@if (MenuItem.HasChildren)
{
    <SubMenu Key=@MenuItem.Key>
	    <TitleTemplate>
		    <Icon Type=@(MenuItem.Icon?.ToString()) Theme="outline" />
		    <span>@MenuItem.Name</span>
	    </TitleTemplate>
	    <ChildContent>
		    @foreach (var childMenuItem in MenuItem.Children)
		    {
			    <StandardMenuItem @key=childMenuItem.Key MenuItem=childMenuItem />
		    }
	    </ChildContent>
    </SubMenu>
}
else
{
    <MenuItem RouterLink="@MenuItem.Path" Key=@MenuItem.Key>
        <Icon Type=@(MenuItem.Icon?.ToString()) Theme="outline" />
        <span>@MenuItem.Name</span>
    </MenuItem>    
}

@code {
    [Parameter, EditorRequired]
    public BlazorPathMenuItem MenuItem { get; set; } = default!;
}