<h3>With Parameter</h3>

<p>Parameter value is @Value</p>
<button @onclick="RandomValue">query random value</button>

@inject NavigationManager NavigationManager
@code
{
	void RandomValue()
	{
		var val = new Random().Next();
		NavigationManager.NavigateTo(PathsUrl.Helper.WithParam(val));
	}
}
